-
  const aboutDetail = [
    {
      title: 'Работаем с 2001 года.',
      description: 'Имеем безупречную репутацию – бесплатно консультируем, помогаем с выбором или проектированием изделий, всегда находимся на связи.'
    },
    {
      title: 'Работаем для долгосрочного сотрудничества.',
      description: 'Идем навстречу клиентам – предлагаем скидки в 5% на день рождение (и за 3 дня до и после него), молодоженам (в течение 6 месяцев со дня свадьбы), пенсионерам.'
    },
    {
      title: 'Продажа дизайнерской мягкой мебели.',
      description: ' В каталоге фабрики представлено более 30 кроватей и диванов, готовых для заказа. Ежедневно наши сотрудники пополняют ассортимент – расширяют линейку моделей.'
    }
  ];

each about, i in aboutDetail 
  li.about__detail-item 
    .about__detail-text 
      h6.about__detail-title.heading-sixth= about.title 
      p.about__detail-description.heading-sixth--400= about.description