footer.footer.bg-dark
  .container 
    .footer__wrapper 
      .footer__about
        .footer__logo 
          a.logo(href="/")
            img(src="./assets/images/logo-2.svg")
        h4.footer__about-text.heading-fourth 
          |Фабрика Мир матрацев – позаботимся о вашем здоровом и крепком сне.
      .footer__address 
        h3.footer__address-title.heading-tertiary аДРЕС
        h5.footer__address-text.heading-fiveth  г. Пенза Т.Ц «Метросити»  ул. Карпинского, д. 39 этаж 2, кабинет 18
      .footer__contact
        h3.footer__contact-title.heading-tertiary контакты 
        h5.footer__contact-tel.heading-fiveth тел: +7 (915) 253-55-77