header.header#header 
  .header__logo 
    a.logo(href="/")
      img(src="./assets/images/logo.png", alt="logo")
  .header__wrapper.bg-light
    .container 
      .header__main 
        .call.to-left 
          p.call__number.para-medium +7 915 253-55-77
          p.call__about.para-smallest прямая консультация c руководителем отдела продаж
        h1.header__title.heading-primary.to-right 
          | Рассчитайте стоимость самого 
          span.text-primary выгодного предложения
          |  от фабрики «Мир Матрацев» прямо сейчас
        h3.header__voting.heading-tertiary.u-mt-18.to-right Ответьте на несколько вопросов и получите:
        .header__options.u-mt-21.to-right
          .header__option.header__option--1
            h2.header__option-number.text-primary.heading-secondary 01
            p.header__option-about.header__option-about--1.para-small.u-mt-9 Расчет стоимости матраца или кровати
          .header__option.header__option--2
            h2.header__option-number.text-primary.heading-secondary 02
            p.header__option-about.header__option-about--2.para-small.u-mt-9 Каталог лучших изделий фабрики
          .header__option.header__option--3
            h2.header__option-number.text-primary.heading-secondary 03
            p.header__option-about.header__option-about--3.para-small.u-mt-9 Консультацию наших ведущих специалистов
        .header__btn.to-right 
          button.btn.heading-secondary.u-mt-42(type="button") рассчитать
        .header__gallery.to-left 
          .header__gallery-lamp 
            img(src="./assets/images/lamp.png", alt="lamp")
          .header__gallery-bed 
            img(src="./assets/images/bed.png", alt="bed")
          .header__gallery-flower
            img(src="./assets/images/flower.png", alt="flower")
  .header__service.to-top 
    .container 
      .header__service-wrapper 
        .header__service-type 
          .header__service-guarantee 
            .header__service-guarantee-icon 
              img(src="./assets/images/guarentee.svg", alt="guarentee")
            h4.header__service-title--1.heading-fourth Гарантия 18 месяцев
          p.header__service-about.header__service-about--1.para-big.u-mt-31 Мы даем официальную гарантию на свою продукцию. Все наши материалы сертифицированы и имеют сертификаты качества. 
        .header__service-type 
          .header__service-delivery 
            .header__service-delivery-icon 
              img(src="./assets/images/delivery.svg", alt="delivery")
            h4.header__service-title--2.heading-fourth Бесплатная доставка
          p.header__service-about.header__service-about--2.para-big.u-mt-31 Доставка по Пензе до вашего адреса осуществляется бесплатно.
        .header__service-type 
          .header__service-price 
            .header__service-price-icon 
              img(src="./assets/images/price.svg", alt="price")
            h4.header__service-title--3.heading-fourth Цены от производителя
          p.header__service-about.header__service-about--3.para-big.u-mt-31 Вам не придется переплачивать. Вы получите самую хорошую цену в Пензе и Пензенской области. Цены от производителя.
        .header__service-type 
          .header__service-consult 
            .header__service-consult-icon 
              img(src="./assets/images/consult.svg", alt="consult")
            h4.header__service-title--4.heading-fourth Консультация менеджера
          p.header__service-about.header__service-about--4.para-big.u-mt-31 Вы получите бесплатную, компетентную консультацию, высококлассного менеджера.