.number-popup__backdrop.hidden
.number-popup__card.fade-up
  .close &times;
  .number-popup__container 
    h3.number-popup__title.heading-tertiary введите свой номер телефона, чтобы перейти в онлайн-каталог мебели
  .line 
  .number-popup__container  
    form.number-popup__form 
      input.heading-tertiary(type="tel", placeholder="+7 (999) 99-99-999*")
      button.heading-fiveth--600(type="submit") Перейти в каталог