.response-popup__backdrop.hidden 
.response-popup__card.fade-up 
  .response-popup__container 
    .response-popup__icon 
      img(src="./assets/images/response-icon.png", alt="response-icon")
    .response-popup__text 
      p спасибо!
      p Ваша заявка отправлена.
      p в ближайшее время мы с вами свяжемся!
    .response-popup__btn OK